#app-header {
    @extend %pos;
    bottom: auto;
    padding-top: 35px;
    z-index: 99;

    &.is-fixed {
        position: fixed;
        padding: 10px 0;
        background: rgba(#fff, .9);
    }

    .btn {
        padding: 10px 20px;
    }
}

.logo {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: auto;
    }
}