#speakers {
    margin-top: -10px;
    padding: 90px 0;
    background: url('../images/bg/speakers-bg.jpg') 50% 50% / cover no-repeat;
    z-index: 6;
    overflow: hidden;

    .section-subtitle {
        top: -30px;
        right: -20px;
    }
}

.speaker-card {
    position: relative;
    display: flex;
    margin-bottom: 50px;

    @media (max-width: map_get($grid-breakpoints, sm)) {
        flex-direction: column;
        margin-bottom: 30px;
    }

    &-img {
        position: absolute;
        top: -10px;
        left: 0;
        bottom: -10px;
        width: 100%;
        max-width: 165px;
        @extend %img;
        transition: .4s;

        @media (max-width: map_get($grid-breakpoints, sm)) {
            position: relative;
            top: auto;
            bottom: auto;
            max-width: 150px;
            height: 200px;
            margin: 0 auto 10px;
        }
    }

    &-main {
        padding: 50px 20px 50px 195px;
        background: #fff;
        transition: .5s;

        @media (max-width: map_get($grid-breakpoints, sm)) {
            padding: 30px 10px;
        }

        .name {
            text-transform: uppercase;
            color: $dark;
        }

        .position {
            position: relative;
            padding-left: 15px;

            &::before {
                content: '';
                position: absolute;
                top: .75rem;
                left: 0;
                width: 7px;
                height: 7px;
                background: $primary;
            }
        }
    }

    &:hover {

        .speaker-card-img {
            top: 0;
            bottom: 0;
        }

        .speaker-card-main {
            box-shadow: 0px 12px 11px 2px rgba(0, 0, 0, 0.13);
        }
    }
}